/* ABOUT INFO */
.about-info {
  min-height: 40vh;
}

.about-info .info-right img {
  width: 70%;
  display: block;
  margin: auto;
  border-radius: 20%;
}

/* TESTIMONIALS */
.testimonials {
  min-height: 60rem;
  background-image: url('../images/test-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 10rem 0;
}

.testimonials h2 {
  color: #fff;
  padding-bottom: 4rem;
  text-align: center;
}

.testimonial {
  position: relative;
  display: flex;
  border-radius: 2rem;
  padding: 2rem;
  margin-bottom: 4rem;
}

.testimonial::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  opacity: 0.9;
}

.testimonial * {
  z-index: 100;
}

.testimonial img {
  margin-right: 2rem;
  width: 10rem;
  border-radius: 30%;
}
