:root {
  --primary-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  --max-width: 110rem;

  --primary-color: #f7c08a;
  --dark-color: #333;
}

/* RESET CSS */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--primary-font);
  font-size: 1.6rem;
  line-height: 1.7;
}

/* h1,
h2,
h3 {
} */

p {
  margin: 1rem 0;
}

ul {
  list-style-type: none;
}

a {
  color: var(--dark-color);
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* HEADER */
.navbar {
  background-color: var(--dark-color);
  color: #fff;
  overflow: auto;
  min-height: 7rem;
}

.navbar .flex {
  justify-content: space-between;
}

.navbar .logo a {
  color: #fff;
  text-transform: uppercase;
}

.navbar ul {
  display: flex;
}

.navbar ul li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 2rem;
}

.navbar ul li a:hover,
.navbar ul li a.current {
  background-color: #444;
  color: var(--primary-color);
}

/* SHOWCASE */
.showcase {
  background-image: url('../images/showcase.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 60rem;
}

.showcase-content {
  text-align: center;
  height: 100%;
  color: #fff;
}

.showcase-content h1 {
  font-size: 6rem;
  line-height: 1.2;
  padding-bottom: 2rem;
}

.showcase-content p {
  line-height: 1.7;
  padding-bottom: 2rem;
}

/* HOME INFO */
.home-info .grid {
  height: 40rem;
}

.home-info .info-img {
  height: 100%;
  background-image: url('../images/photo-1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-info .info-content {
  padding: 5rem 3rem;
}

.home-info .info-content p {
  padding-bottom: 3rem;
}

/* FEATURES */
.features {
  display: flex;
}

.features .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5rem;
}

.features .box i {
  margin-bottom: 1rem;
}

/* FOOTER */
.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #444;
  color: #fff;
  padding: 2rem;
}

.main-footer .social {
  padding: 2rem;
}

.main-footer .social ul {
  display: flex;
}

.main-footer .social ul li a {
  display: flex;
  padding: 2rem;
}
.main-footer .social ul li a i {
  color: #fff;
}

.main-footer .social ul li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #333;
  border-radius: 2rem;
}

.main-footer .developer a {
  color: var(--primary-color);
  font-weight: bold;
}

.main-footer > *:nth-child(3) {
  background-color: var(--primary-color);
  width: 90%;
  border-radius: 2rem;
  color: #333;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar ul li a {
    padding: 1rem;
    border-bottom: 0.1rem solid #444;
  }

  .navbar .flex {
    flex-direction: column;
    overflow: hidden;
  }

  .home-info .grid {
    height: 55rem;
    grid-template-columns: 1fr;
  }

  .home-info .info-img {
    display: none;
  }

  .features {
    flex-direction: column;
  }

  .contact-info .container {
    flex-direction: column;
    padding: 2rem;
  }

  .contact-info .container .box {
    padding: 2rem;
  }

  .contact-info .container .box:last-child {
    padding-bottom: 0;
  }

  .about-info .grid {
    grid-template-columns: 1fr;
  }
  .testimonial {
    flex-direction: column;
    align-items: center;
  }
  .main-footer {
    padding-bottom: 4rem;
  }
  .contact-info .box {
    border-bottom: 2px dotted #444;
  }
  .contact-info .box:last-child {
    border: none;
  }
}

@media (max-height: 400px) {
  .showcase {
    height: 40rem;
  }

  .main-footer .social {
    padding: 0;
  }
}
